html {
  font-family: 'Roboto', sans-serif;
  height: auto;
}

body {
  background-color: #fff;
  margin: 0;
  height: 100%;
}

a:link{
  color: #71a5d8;
}

a:visited {
  color: #71a5d8;
}

a:active {
  color: yellow;
}


/* -----------------Header----------------- */

header {
  background-color: #f0efed;
  width: 100%;
  height: 15vh;
  color: #fff;
}

header #top_logo {
  width: auto;
  height: 80%;
  margin-top: 2vh;
  margin-right: 0vh;
  margin-bottom: 2vh;
  margin-left: 5%;
}

/* -----------Isi nya (tulisan, table, dkk)-------*/

.datamargin {
  margin: 50px 2.8vw;
}

.data {
  border: 1px solid black;
  border-radius: 15px;
  padding: 50px 25px;
  margin: auto;
  height: 80%;
  position: relative;
  max-width: 800px;
}

.use-padding {
  padding-left: 50px;
  padding-right: 50px
}

.data .OrderID {
  background-color: #f0efed;
  padding: 3px 0px 3px 12px;
}

/* ----------Tables -------- */


.tables {
  border-spacing: 0px;
  border: 1px solid black;
}

.tables .table_col_1 {
  width: 30%;
}

.tables .table_col_2 {
  width: 70%;
}

.tables, td {
  border-top: 1px solid black;
  border-right: 1px solid black;
}

tr:last-child {
  word-break: break-all;
}

/*---- To make the table edge round -----*/

/*
.tables .up_left {
  border-radius: 15px 0 0 0;
  border-bottom: none;
}

.tables .up-right {
  border-radius: 0 15px 0 0;
  border-bottom: none;
}

.tables .down-left {
  border-radius: 0 0 0 15px;
}

.tables .down-right {
  border-radius: 0 0 15px 0;
}

.rounded {
  border-radius: 15px;
}

*/
td {
  padding: 10px;
}

td ol {
  padding: 0 15px;
}

/* --------Footer---------- */

footer {
  height: 5vh;
  width: 100%;
  background-color: #f0efed;
}
