<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="styles/mail.css" type="text/css">
    <title></title>
    <style>
        html {
  font-family: 'Roboto', sans-serif;
  height: auto;
}

body {
  background-color: #fff;
  margin: 0;
  height: 100%;
}

a:link{
  color: #71a5d8;
}

a:visited {
  color: #71a5d8;
}

a:active {
  color: yellow;
}


/* -----------------Header----------------- */

header {
  background-color: #f0efed;
  width: 100%;
  height: 15vh;
  color: #fff;
}

header #top_logo {
  width: auto;
  height: 80%;
  margin-top: 2vh;
  margin-right: 0vh;
  margin-bottom: 2vh;
  margin-left: 5%;
}

/* -----------Isi nya (tulisan, table, dkk)-------*/

.datamargin {
  margin: 50px 2.8vw;
}

.data {
  border: 1px solid black;
  border-radius: 15px;
  padding: 50px 25px;
  margin: auto;
  height: 80%;
  position: relative;
  max-width: 800px;
}

.use-padding {
  padding-left: 50px;
  padding-right: 50px
}

.data .OrderID {
  background-color: #f0efed;
  padding: 3px 0px 3px 12px;
}

/* ----------Tables -------- */


.tables {
  border-spacing: 0px;
  border: 1px solid black;
}

.tables .table_col_1 {
  width: 30%;
}

.tables .table_col_2 {
  width: 70%;
}

.tables, td {
  border-top: 1px solid black;
  border-right: 1px solid black;
}

tr:last-child {
  word-break: break-all;
}

/*---- To make the table edge round -----*/

/*
.tables .up_left {
  border-radius: 15px 0 0 0;
  border-bottom: none;
}

.tables .up-right {
  border-radius: 0 15px 0 0;
  border-bottom: none;
}

.tables .down-left {
  border-radius: 0 0 0 15px;
}

.tables .down-right {
  border-radius: 0 0 15px 0;
}

.rounded {
  border-radius: 15px;
}

*/
td {
  padding: 10px;
}

td ol {
  padding: 0 15px;
}

/* --------Footer---------- */

footer {
  height: 5vh;
  width: 100%;
  background-color: #f0efed;
}

    </style>
</head>
<body>
<header>
    <img src="{{ url_for('static', filename='img/logo.png', external=True) }}" id="top_logo"/>
</header>
<div class="datamargin">
    <div class="data">
        <h2 class="OrderID">Your Order ID is {{ order_id }}</h2>
        <div class="content">
            <p>Dear {{ name }},</p>

            <p> Pesanan Anda sudah kami terima dan kami proses dengan detil pemesanan: </p>

            <table class="tables rounded">
                <tbody>
                <tr>
                    <td>Nama Dokumen</td>
                    <td>
                        <ol>
                            {% for file in files %}
                                {{ file }}
                            {% endfor %}
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>Lokasi Pengambilan</td>
                    <td>{{ location }}</td>
                </tr>
                <tr>
                    <td>Waktu Pengambilan</td>
                    <td>{{ arrival_time }}</td>
                </tr>
                <tr>
                    <td class="down-left">Waktu Proses Pengerjaan</td>
                    <td class="down-right">{{ text_duration }}</td>
                </tr>
                </tbody>
                <tr>
                    <td class="table_col_1 up_left">Nama Pemesan</td>
                    <td class="table_col_2 up-right">{{ name }}</td>
                </tr>
            </table>

            <p>Apabila terdapat kesalahan atau ingin merubah detil pemesanan,
                Anda dapat mengubahnya <a href="#">disini</a> sebelum waktu proses
                pemesanan anda dimulai.</p>
            <p>Terima kasih atas kepercayaan Anda dengan menggunakan
                <a href="https://directprint.id">directprint.id</a>.</p>

        </div>
    </div>
</div>
<footer>.
</footer>
</body>
</html>
